/*
  input boxes
  buttons

*/

body {
	display: flex;
	justify-content: left;
	background-image : url(https://i.imgur.com/5okXcMx.jpg);
	margin-left : 100px;
	font-family : 'Righteous';

}

h1 {
  font-size: 4em;
}

#createButton {
	height: 100px;
	background-color: red;
}

.herobutton {
	height: 93px;
	width: 92px;
}

#newLObutton {
    height: 30vh;
    width: 400px;
    opacity: 0.8;
    font-size: 2em;
    font-family : 'Righteous';
}

#savedLObutton {
	height: 30vh;
	width: 400px;
	opacity: 0.8;
	font-size: 2em;
	font-family : 'Righteous';
}

.talents {

}