/*
  input boxes
  buttons

*/

body {
	display: flex;
	justify-content: center;

}

h1 {
  justify-content: center;
  
}

#createButton {
	height: 100px;
	background-color: red;
}

.herobutton {
	height: 93px;
	width: 92px;
}

#newLObutton {

}

.talents {

}